<section>
  <div class="container py-5">
    <div class="row justify-content-center">
      @for (product of productList; track product.id) {
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="pt-3 pb-1 px-3"></i>
          <!-- conditional rendring -->
          @if (product.rating >= 3) {
          <div class="col-2">
            <span class="badge text-bg-danger m-1">Top Rated</span>
          </div>
          }@else {
          <div class="col-2">
            <span class="badge text-bg-success m-1">{{ product.rating }}</span>
          </div>
          }

          <img
            [src]="product.thumbnail"
            class="card-img-top"
            alt="Apple Computer"
          />
          <div class="card-body">
            <div class="text-center">
              <h5
                class="card-title"
                [ngStyle]="{
                  'background-color': product.stock <= 10 ? 'green' : 'yellow',
                  color:'red'
                }"
              >
                {{ product.title }}
              </h5>
              <p class="text-muted mb-4">{{ product.category }}</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Price</span><span>{{ product.price }}</span>
              </div>
            </div>
            <div
              class="d-flex justify-content-between total font-weight-bold mt-4"
              [ngClass]="product.stock <= 10 ? 'text-danger' : 'text-dark'"
            >
              <span>In Stock</span><span>{{ product.stock }}</span>
            </div>
            <app-product-button></app-product-button>
          </div>
        </div>
      </div>
      }@empty {
      <h1>No Products Founded!</h1>
      }
    </div>
  </div>
</section>
